
.listStyles {
    width: 200px;
    height: 50px;
    border-radius: 125px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

    
    .listImage {
        padding: 0px 20px;
    }

    .listChildren {
        font-size: 20px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }

    &.expanded {
        width: 60px;
        align-items: center;
        justify-content: center;

        .listChildren {
            display: none;
        }

        .listImage {
            margin: 0;
            margin-bottom: 5px;
            height: 30px;
            width: 30px;
            background-color: aqua;
        }
}

    &:hover {
        background-color: #131312;
    }

    &:active {
        background-color: #131312;
    }

}


.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 0;

    &.expanded {
        width: 60px;
        margin: 0px;
    }
}