.postModalContainer {
    width: 60%;
    height: 85%;
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: #141414;
    z-index: 99;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .postFormContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .descriptionContainer {
        display: flex;
        flex-direction: column;

        .descriptionInput {
            width: 400px;
            height: 200px;
        }
    }


}