.containerLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 1000px;
    width: 28%;
    border-radius: 30px;
    border-right: solid 1px white;
    padding: 15px;
    box-sizing: border-box;
    right: 0%;
    position: relative;
    padding: 10px;

    .listTitle{
        align-self: center;
    }
    .listContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.containerRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    height: 1000px;
    width: 25%;
    border-left: solid 1px white;
    right: 0;
    padding: 10px;
    border-radius: 30px;

    position: relative;
}