.containerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92px;
    max-height: 100%;
    border-radius: 30px;
    border-right: solid 1px white;
    padding: 15px;
    box-sizing: border-box;
    right: 0%;
    position: relative;
    padding: 10px;

    .listTitle{
        align-self: center;
    }
    .listContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .leftHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        .buttonIcon {
            width: 20px;
            height: 20px;
            font-size: 16px;
            background-color: transparent;
        }
    }

    .headerCollapsed {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    &.expanded {
        width: 340px;
    }

    @media only screen and (max-width: 768px){
        width: 90px;
    }
}



.containerRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    width: 300px;
    border-left: solid 1px white;
    right: 0;
    padding: 10px;
    border-radius: 30px;
    position: relative;

    
    @media only screen and (max-width: 768px){
        display: none;
    }
}