.inputContainer {
    display: flex;
    flex-direction: column;

    .postInput {
        border:  1.5px solid gray;
        border-radius: 30px;
        padding: 15px 15px;
        box-sizing: border-box;
        resize: none;
        background-color: #131312;
        width: 400px;
        height: 100px;

        &::placeholder{
            text-align: left;
            vertical-align: top;    
        }
        &:hover {
            border:  1.5px solid rgb(78, 104, 107);
        }
    }

    .helperText {
        font-size: 16px;
        color: rgb(161, 158, 158);
        margin-top: 5px;
        margin-left: 15px;
    }

}

.error {

    .postInput {
    border: 1.5px solid red;
    color: red;
    }

    .helperText {
        color: red;
    }
}