.inputContainer {

    .postInput {
        min-width: 400px;
        min-height: 100px;
        border:  1.5px solid gray;
        border-radius: 30px;
        padding: 15px 15px;
        box-sizing: border-box;
        resize: none;
        background-color: #131312;

        &::placeholder{
            text-align: left;
            vertical-align: top;    
        }
        &:hover {
            border:  1.5px solid rgb(78, 104, 107);
        }
        &.error {
            border: 1.5px solid red;
            color: red;
        }
    }

    .helperText {
        font-size: 16px;
        color: rgb(161, 158, 158);
        margin-top: 5px;
        margin-left: 15px;

        &.error {
            color: red;
        }
    }

}

.error {
    
}